<div class="view-backlog-task-container">
  <!-- <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar> -->

  <div class="headline-highlight">
    <h1 mat-dialog-title>View Task</h1>
    <button class="close-btn" mat-button (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>
  </div>

  <div mat-dialog-content>
    <form [formGroup]="editForm">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Due Date</mat-label>
          <input matInput [matDatepicker]="picker1" placeholder="Placeholder" formControlName="dueDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <select matNativeControl matInput placeholder="Category" formControlName="category">
            <option>Management</option>
            <option>Purchasing</option>
            <option>Controlling</option>
            <option>R&D</option>
          </select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Urgency</mat-label>
          <select matNativeControl matInput placeholder="Urgency" formControlName="urgency">
            <option value="Low">Low</option>
            <option value="Middle">Middle</option>
            <option value="High">High</option>
            <option value="VeryHigh">Very High</option>
          </select>
        </mat-form-field>
      </div>

      <div>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Write something... " formControlName="description">
        </textarea>
        </mat-form-field>
      </div>

      <div class="btn-position" mat-dialog-actions>
        <button mat-button type="submit" (click)="saveTask()" cdkFocusInitial [disabled]="editForm.invalid || changeInAssignments[0].assignedTo.length < 1">Save</button>
        <button mat-button type="submit" (click)="moveToBoard()" cdkFocusInitial [disabled]="editForm.invalid || changeInAssignments[0].assignedTo.length < 1">Move to Board</button>
      </div>

    </form>

    <ng-multiselect-dropdown class="dropdown-assignment" [placeholder]="'Assign this task to...'" [settings]="dropdownSettings" [data]="dropdownList"
      [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"  (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
    </ng-multiselect-dropdown>
  </div>


</div>