.view-backlog-task-container {
    position: relative;
    height: 500px;
    width: 600px;

    h1 {
        margin-bottom: 32px !important;
    }

    .mat-form-field {
        box-sizing: border-box;
        width: 49%;
    }

    .row {
        justify-content: space-between;
    }
}

.mat-dialog-content {
    height: 450px;
}

.btn-position {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.dropdown-assignment {
    position: absolute;
    width: calc(100% - 24px);
    bottom: 130px;
    left: 0;
    right: 0;
    box-sizing: border-box;
}