.backlog-container {
    display: flex;
    flex-direction: column;
    background-color: RGB(189, 209, 220);
    padding-left: 40px;
    padding-right: 40px;
    width: calc(100vw - 200px);
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-top: 32px;
    overflow-y: auto;
}

table {
    border-collapse: seperate;
    border-spacing: 0px 16px;
    font-size: 16px;
}

th {
    text-align: start;
    font-size: 14px;


    &:nth-child(1) {
        width: 12.5%;
    }  
    &:nth-child(2) {
        width: 12.5%;
    }
    &:nth-child(3) {
        width: 15%;
    }

    &:nth-child(4) {
        width: 30%;
    }
    
    &:nth-child(5) {
        width: 30%;
    }
}

.text-overflow {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td {
    height: 80px;
    vertical-align: top;
    padding-top: 40px;


    &:first-child {
        position: relative;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
    }

    &:last-child {
        position: relative;
        padding: 32px 96px 32px 12px;

        .row {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }

    img {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        margin-right: 16px;
        object-fit: cover;
    }
}

tr {
    background-color: white !important;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.04) !important;
    border-radius: 8px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.7) !important;
    }

    &:first-child {
        background-color: transparent !important;
        box-shadow: unset !important;

        &:hover {
            background-color: transparent !important;
        }
    }
}

.action-btn {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-weight: 200;


    .mat-button {
        padding: 0 8px;
        min-width: unset;
    }

    mat-icon {
        opacity: 0.5;
        font-weight: 200 !important;
    }
}

