<div class="backlog-container" [ngClass]="{'mobileView': mobileViewPortrait || mobileViewLandscape}">

    <h1>Archive</h1>
    <p style="color: red;">Deleting tasks from this view is irrevocable!</p>

    <p *ngIf="!tasksAvailable">There are currently no tasks in your archive.</p>

    <table *ngIf="tasksAvailable">
        <tr>
            <th>ARCHIVE DATE</th>
            <th>CATEGORY</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>ASSIGNED TO</th>
        </tr>


        <tr *ngFor="let item of archive; let i = index">
            <td>
                {{ item.archiveDate }}
            </td>

            <td>
                {{ item.category }}
            </td>

            <td>
                {{ item.title }}
            </td>

            <td class="text-overflow">
                {{ item.description }}
            </td>

            <td>
                <div class="column">
                    <div class="row" *ngFor="let user of archive[i].assignedTo">
                        <img [src]="user.img">
                        <div class="column">
                            <span>{{ user.name }}</span>
                        </div>
                    </div>
                </div>
                <div class="action-btn">
                    <button mat-button matTooltip="Restore this task" (click)="restoreTask(i)">
                        <mat-icon>unarchive</mat-icon>
                    </button>
                    <button mat-button matTooltip="Delete this task" (click)="openDialogDelete(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

            </td>
        </tr>


    </table>
</div>