<div class="board-container">
    <div class="field-container" *ngFor="let number of [0, 1, 2, 3]; index as i">
        <h2>{{ boardHeadlines[i]}}</h2>
        <div class="board-field" (drop)="dropElement(variables[i], i)" (dragover)="allowDrop($event); highlight(i)"
            (dragleave)="removeHighlight(i)">
            <mat-card class="boardTask-container" *ngFor="let task of boardTasks | filter:variables[i]; index as j" draggable="true"
                (dragstart)="startDragging(task)" (click)="openDialogTask(task.customIdName)">
                <div class="colored-corner" [ngClass]="task.urgency"></div>
                <mat-card-title>{{ task.title }}</mat-card-title>
                <mat-card-subtitle>{{ task.category }}</mat-card-subtitle>
                <mat-card-content>
                    <span>{{ task.description }}</span>
                    <span class="card-assignment">{{task.assignedTo[0].name}}</span>
                    <span *ngIf="getUserCount(task)" class="card-additional-assignments">{{getUserCount(task)}}</span>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="add-confirmation" *ngIf="taskCompleted">
        <span>Task completed!</span>
        <mat-icon>check_circle</mat-icon>
    </div>
</div>