<div class="addTask-container">

    <h1>Add Task</h1>
    <p>Project Management System</p>

    <form [formGroup]="taskForm" (ngSubmit)="submitForm()">
        <table>
            <tr>
                <td>TITLE</td>
                <td>DUE DATE</td>
            </tr>
            <tr>
                <td> 
                    <mat-form-field appearance="outline" [hideRequiredMarker]="hideRequiredControl.value"
                        [floatLabel]="floatLabelControl.value">
                        <input matInput placeholder="Enter a title" formControlName="title" required>
                        <mat-error *ngIf="this.taskForm.controls['title'].hasError('required')">Please enter a Title
                        </mat-error>

                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field appearance="outline" [hideRequiredMarker]="hideRequiredControl.value"
                        [floatLabel]="floatLabelControl.value">
                        <input matInput placeholder="MM/DD/YYYY" [min]="today" [matDatepicker]="picker" formControlName="dueDate" required>
                        <mat-datepicker-toggle class="date-icon" matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error
                            *ngIf="this.taskForm.controls['dueDate'].hasError('required')">
                            Please enter a date</mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>CATEGORY</td>
                <td>URGENCY</td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="category" required placeholder="Choose...">
                            <mat-option value="Management">Management</mat-option>
                            <mat-option value="Purchasing">Purchasing</mat-option>
                            <mat-option value="Controlling">Controlling</mat-option>
                            <mat-option value="R&D">R&D</mat-option>
                        </mat-select>
                        <mat-error *ngIf="taskForm.controls['category'].hasError('required')">Please choose a category
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="urgency" required placeholder="Choose...">
                            <mat-option value="Low">Low</mat-option>
                            <mat-option value="Middle">Middle</mat-option>
                            <mat-option value="High">High</mat-option>
                            <mat-option value="VeryHigh">Very High</mat-option>
                        </mat-select>
                        <mat-error *ngIf="taskForm.controls['urgency'].hasError('required')">Please choose an urgency
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>DESCRIPTION</td>
                <td>ASSIGNED TO</td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="outline">
                        <textarea matInput formControlName="description" required placeholder="Describe your task ..."></textarea>
                        <mat-error *ngIf="taskForm.controls['description'].hasError('required')">Please describe the
                            task</mat-error>
                    </mat-form-field>

                </td>
                <td class="row align-items-start">
                    <!-- <div class="addUser-btn" (click)="addUser()">
                        <img src="./assets/img/icon-plus.png">
                    </div> -->
                    <div class="assignedTo-container">
                        <div class="container-checkbox" *ngFor="let employee of employees; index as i">
                            <input type="checkbox" [id]="'myCheckbox-' + i" formArrayName="assignedTo"
                                (change)="onCheckboxChange($event, employee)">
                            <label [for]="'myCheckbox-' + i">
                                <img src="{{ employee.img }}">
                                <div class="info">{{ employee.name }}</div>
                            </label>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="btn-container">
            <button mat-button type="button" (click)="resetForm()">CLEAR</button>
            <input type="submit" value="CREATE TASK" [disabled]="taskForm.invalid">
        </div>
    </form>

    <div class="add-confirmation" *ngIf="taskAdded">
        <span>Task added</span>
        <mat-icon>check_circle</mat-icon>
    </div>
</div>