<div class="sidenav-container">
    <img class="logo" src="./assets/img/logo.png">

    <ul class="nav-links">
        <li routerLink="/board" routerLinkActive="active">Board</li>
        <li routerLink="/backlog" routerLinkActive="active">Backlog</li>
        <li routerLink="/addtask" routerLinkActive="active">Add Task</li>
        <li routerLink="/archive" routerLinkActive="active">Archive</li>
        <li routerLink="/trash"  routerLinkActive="active">Trash</li>
        <hr>
        <li routerLink="/help"  routerLinkActive="active">Help</li>
        <li routerLink="/privacy"  routerLinkActive="active">Privacy</li>
        <li routerLink="/about"  routerLinkActive="active">About</li>
    </ul>

    <!-- <img class="logged-in-user-profile" src="./assets/img/logo.png"> -->

</div>